HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!/src/main//target/

STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/src/main/resources/music/SpotifyControler.java
/src/main/resources/music/

IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr
out/
src/v2/


NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build//build/

VS Code
.vscode/